
.icon-mail:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-flickr-circled:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */